body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b2a4a;
  color: white;
}

.editor {
  padding: 40px;
}

.editor textarea {
  width: 100%;
  height: 200px;
  font-size: 14px;
}

.editor button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 14px;
}

.viewer {
  overflow: hidden;
}

#map-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#map {
  width: 100%;
  height: 100%;
}

.plane { 
            position: absolute; 
            font-size: 24px; 
            z-index: 20; 
            margin-left: -12px; 
            margin-top: -12px; 
            pointer-events: none; 
            text-shadow: 0 0 10px #CDDE00;
            /* ANIMATE position (6s), but NOT transform (rotation) */
            transition: left 6s linear, top 6s linear; 
        }

#coord-tracker { 
    position: fixed; 
    background: rgba(255, 255, 0, 0.95); 
    color: black; 
    padding: 5px 12px; 
    border-radius: 4px; 
    font-size: 14px; 
    font-weight: bold; 
    pointer-events: none; 
    z-index: 2000; 
    display: none; 
}
